<% provide(:title, 'News&Events') %>

<div class="center hero-unit">
  <div class="inline_center">

    <div class="slidepic news_top_pic">

          <%= image_tag("JoinUs.jpg", alt: "News", :id => "auto_resizeimage") %>
    </div>

    <div class="headline">
      <h1><%= link_to "Activities << ", activitiesandvolunteer_path %>STORIES</h1>
    </div>



     <div class="new_boxes_left_column">
       
       <div class="new_headline_box">
          <br><h4>A STUDENT FROM GHANA RECEIVED A SCHOLARSHIP FROM BEING GOOD IN MATH</h4>
        
          <div class="image_for_box new_headline_pic">
              <%= image_tag("microsoft_for_african_students.jpg", alt: "africans", :id => "auto_resizeimage")  %>
           </div>
         
          <br><p>
             Volunteers are the key  
             to our program. you are   
             welcome to contact us for
             any inquiring blablabla bla
             blablabla blablabla blablabl
             blablabla blablabla blablabl
             blablabla blablabla blablabl
             blablabla blablabla blablabl
             blablabla blablabla blablabl
             blablabla blablabla blablab

             BLABLA was a student 
             he was not able to blabla,so  
             we blablabla blablablab bla 
             blablabla blablabla blablabl
             blablabla blablabla blablabl
             blablabla blablabla blablab
             blablabla blablabla blablab
             blablabla blablabla blablab
             blablabla blablabla blabl
             he was not able to blabla,so  
             BLABLA was a student 
             he was not able to blabla,so  
             we blablabla blablablab bla 
             blablabla blablabla blablabl
             blablabla blablabla blablabl
             blablabla blablabla blablab
             blablabla blablabla blablab
             blablabla blablabla blablab
             blablabla blablabla blabl
             he was not able to blabla,so     
          </p> 
          <br><h4>published by blabla, on xx/yy/zz</h4> 
       </div>



       <div class="new_headline_box event_headline_box">
        

          <br> <h4>CURRENT EVENT</h4>

         <br> <P> 
          our next event is xx/xx/xx the adresss is xxxx street,city, country, 111111
            the personne to contact is MRS BLABLA and his Pnone number is xxx xxxx xxx
            it is basically focused on blablabla blablabla blablabla blablabla blablabla
          </P>
           <br><h4>HOPE TO SEE YOU THERE!</h4> 
       </div>  
     </div>    
     
      
     <div class="new_boxes_right_column">

        <div class="all-div-box project_links ">
            <div class="head">
             <h4>OUR CURRENT PROJECTS </h4>
           </div>
    
      
            <P><a href="project1">Project1 is mainly focused on xyz</a></P>
            <P><a href="project2">Project2 is mainly focused on xyz</a></P>
           <P><a href="project3">Project3 is mainly focused on xyz</a></P>
           <P><a href="project4">Project4 is mainly focused on xyz</a></P>
           <P><a href="project5">Project5 is mainly focused on xyz</a></P>
        
        </div> 

        <div class="all-div-box project_links join_us_news ">
          <div class="head">
           <h4>STAY CONNECTED</h4>
         </div>
    
      
          <P> For more exclusive news about us, please stay conected with us
            
          </P>
          <h3> <%= link_to "Please Join us today", join_us_path %></h3>   

        </div>  



        <div class="all-div-box project_links future_events ">
          <div class="head">
           <h4>Future events </h4>
         </div>
    
      
          <P> our new event is on xxx/xxx/xxx. the location is xxx streeet larue prinxce. 
            for more info please emaiil us on:example@gmail.com or call 888888888888.
          </P>
          <h3>Note: all events will be posted on the event window 3 months prior.THANKS YOU!</h3>   

        </div>   




         
      </div> 



 





<div style="clear: left; margin-bottom: 55em"></div>


</div>
</div>