<%= render 'layouts/topproject' %>

  <div class="projectboximage">
     <%= image_tag("slideshow/0126-IVORY_full_600.jpg", alt: "project4", :id => "auto_resizeimage") %> 
  </div>


<div class="projectoverview">
   <h4>Project four:</h4>
  <p>let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
    let say i write this bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb <br>
  
   </p>

   <br>
    <p>  
       <a href="project1">Project1</a>
         <a href="project2">Project2</a>
         <a href="project3">Project3</a>
         <a href="project4">Project4</a>
         <a href="project5">Project5</a>
    </p>
</div>

   <%= render 'layouts/bottomproject' %>
 

