<% provide(:title, 'Stories') %>

<div class="center hero-unit">
  <div class="inline_center">

 	<div class="headline dropdown_goback_activities">
      <h1><%= link_to "Activities << ", activitiesandvolunteer_path %>STORIES</h1>
    </div>
    
   <div class="story_column colom_left">

   		<div class=" group_story_element_box">

       		<div class="inside_div_pic image_for_box group_story_element_pic">
       		<%= image_tag("AfricanChildrensChoir.jpg", alt: "africans", :id => "auto_resizeimage") %> 

       		</div>
          
       		<p>
		         MRS BLABLA was a student 
		         he was not able to blabla,so  
		         we blablabla blablablab bla 
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablab

		         BLABLA was a student 
		         he was not able to blabla,so  
		         we blablabla blablablab bla 
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablab
		         blablabla blablabla blablab
		         blablabla blablabla blablab
		         blablabla blablabla blabl
		         he was not able to blabla,so  
		         we blablabla blablablab bla 
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablab
         
      		</p> 
      </div>
    </div> 

    <div class="story_column colom_left right_colum">

   		<div class=" group_story_element_box">

       		<div class="inside_div_pic image_for_box group_story_element_pic">
       			<%= image_tag("afristudent.jpg", alt: "africans", :id => "auto_resizeimage") %> 
       		</div>
          
       		<p>
		          MRS BLABLA was a student 
		         he was not able to blabla,so  
		         we blablabla blablablab bla 
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablab

		         BLABLA was a student 
		         he was not able to blabla,so  
		         we blablabla blablablab bla 
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blabla
		         blablabla blablabla blablab
		         blablabla blablabla blablab
		         blablabla blablabla blabla
		         he was not able to blabla,s 
		         we blablabla blablablab bla 
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablabl
		         blablabla blablabla blablab
         
      		</p> 
      </div>
    </div> 
   		

   	
   	
	<div style="clear: left; margin-bottom: 1em"></div>
 
  </div>


</div>









  