




/* join us */

.join_us_image {
  h3{
    font-size:3em;
  } 
}

.circle_for_join_us, #icons_image_circle{
  border-radius: 50%;
  width: 210px;
  height: 210px; 
  /* width and height can be anything, as long as they're equal */
}

.facebook_join_circle{
  margin-left: 270px;
   margin-top: 10px;
}

.twitter_circle{
  margin-top: -200px;
  margin-left: 520px;
}

