

.story_column{width: 450px;
 height:500px;
 margin-left:-55px;
 margin-top:60px;
 p{text-align:left;}

 .group_story_element_box{  
      margin-top: 18px;   
    }
}


.right_colum{

 margin-left:410px;
 margin-top:-518px;

}