<% provide(:title, 'Thanks') %>

 
<div class="center hero-unit">
  <div class="inline_center">

		

<h1>Thank you!</h1>
<br>
<br>
<p>Your request has been sent someone will contact you as soon as possible.</p>
<h1> <%= link_to "Go Back to Voluntary Page", new_path %></h1>
	
	<div style="clear: left; margin-bottom: 1em"></div>
 
  </div>


</div>








