<footer class="footer">
  <small>
    <a href="#">© 2013 EPYA | Privacy Policy</a>
  </small>
  
  <nav>
    <ul id="social">

      <li><div class="fb-share-button" data-href="https://www.facebook.com/alama.tounkara" data-type="button_count">
        </div>
      </li>
      
      <li >    
        <style>.ig-b- { display: inline-block; }
          .ig-b- img { visibility: hidden; }
          .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
          .ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }
        </style>
        <a href="http://instagram.com/myambitionas?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" />
        </a>
      </li>

      <li>
        <a href="https://twitter.com/alama_al" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow us</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
      </li>   
    </ul>

    <ul id="about_contact_others">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="newsandevents">News</a></li>
    </ul>
  </nav>
  <div id="email_phone"><h3> Call: xxx xxxx xxx for any info </h3></div>
</footer>



