<h1 align="center">JQuery Sliding Menu Demo</h1>
    
    
   
    <ul class="parent">
      <li>
          <a href="#" class="slide">Title One</a>
            
            <ul class="child">
              <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
                <li><a href="#">Link Three</a></li>
                <li><a href="#">Link Four</a></li>
                <li><a href="#">Link Five</a></li>
            </ul>
            
         </li>
    </ul>

    <ul class="parent">
      <li>
          <a href="#" class="slide">Title Two</a>
            
            <ul class="child">
              <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
                <li><a href="#">Link Three</a></li>
                <li><a href="#">Link Four</a></li>
                <li><a href="#">Link Five</a></li>
            </ul>
            
         </li>
    </ul>
    
    <ul class="parent">
      <li>
          <a href="#" class="slide">Title Three</a>
            
            <ul class="child">
              <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
                <li><a href="#">Link Three</a></li>
                <li><a href="#">Link Four</a></li>
                <li><a href="#">Link Five</a></li>
            </ul>
            
         </li>
    </ul>
    
    <ul class="parent">
      <li>
          <a href="#" class="slide">Title Four</a>
            
            <ul class="child">
              <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
                <li><a href="#">Link Three</a></li>
                <li><a href="#">Link Four</a></li>
                <li><a href="#">Link Five</a></li>
            </ul>
            
         </li>
    </ul>
    
    <ul class="parent">
      <li>
          <a href="#" class="slide">Title Five</a>
            
            <ul class="child">
              <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
                <li><a href="#">Link Three</a></li>
                <li><a href="#">Link Four</a></li>
                <li><a href="#">Link Five</a></li>
            </ul>
            
         </li>
    </ul>



<br /><br /><br />
  
    <br /><br />
    <!--<hr width="750" />-->
    <p align="center">
      Back to <a href="http://sarfraznawaz.wordpress.com/" style="color:#FF0066; font-weight:bold; text-decoration:none;">Sarfraz Ahmed's Blog</a>

  